@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

/* COLORS */
$grey: rgb(221, 221, 221);

/* FONTS */
$title-font: 'Carter One';


.card {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
}

h1 {
  margin: 0;
  padding: 5px;
  background-color: $grey;
  border-radius: 10px;
  font-family: $title-font;
}

.insertingNewTask {
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

li {
  display: flex;

}

input {
  font-size: 1em;
  padding: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

input[type=checkbox] {
  display: none;
  align-items: center;
}

label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid red;
  border-radius: 5px;
  margin-right: 10px;
}

input[type=checkbox]:checked+label {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.2);
}

input[type=checkbox]:checked+label::before {
  background-image: url("../images/done.png");
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

button {
  height: 50%;
  font-size: 2em;
  margin-right: 0;
  align-self: flex-end;
}

ul {
  padding: 0;
  margin: 10px;
}

li {
  padding: 10px;
  border: 1px solid blue;
  list-style: none;
}