*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header{
  background-color: lightblue !important;
}

header, main{
  max-width: 70%;
  margin: auto;
  background-color: aliceblue;
  text-align: center;
  padding: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input{
  padding: 1em;
  font-size: 1em;
  width: 7em;
}

ul{
  margin: 2em;
}

ul li{
  list-style: none;
  padding: 2em;
  border-bottom: 1px dotted;
}

