* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-color-blue: #030331;
$marce-color: #b77821;

body {
  font-family: lato;
  font-size: 12px;
}

.sr-only {
  height: 0.1px;
  width: 0.1px;
  color: transparent;
}

header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $marce-color;
  padding: 1em;
  transition: all 0.01s 0.2s ease;
}

.logo {
  display: block;
  height: 4em;
  img {
    max-height: 100%;
  }
}

.cartimage {
  height: 2.4em;
  img {
    max-height: 100%;
  }
}

.searchbar {
  display: none;
}

.hamburgerBtn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  div {
    width: 2em;
    height: 1px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 5px;
    transition: 0.35s ease-out;
    &:last-of-type {
      margin-bottom: 0px;
    }
  }
  &:hover div {
    transform: scale(1.1);
    z-index: 1;
  }
}

.open {
  div:nth-child(1) {
    transform: translateX(2px) translateX(-2px) translateY(6px) rotate(45deg);
  }
  div:nth-child(2) {
    transform: rotate(-45deg);
  }
  div:nth-child(3) {
    transform: translateX(2px) translateX(-2px) translateY(-6px) rotate(-45deg);
  }
  h1 {
    color: white;
  }
}
h1 {
  flex-grow: 1;
}

.menu-list {
  border: 1px solid;
  padding: 2em;
  font-size: 1.2em;
  background-color: rgba(0, 0, 0, 0.93);
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateY(-1100px);
  animation: pos1 0.4s ease-in-out forwards;
}

.menu-list.open {
  animation: pos 0.4s ease-in-out forwards;
}

@keyframes pos {
  0% {
    transform: translateY(-1100px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes pos1 {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1100px);
  }
}
.menu-list li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: white;
  margin-bottom: 1em;
  border-bottom: 1px solid #424245;
}

li:hover,
a:hover {
  filter: brightness(200%);
  color: white;
}

/* ------------------------ Sort and Filter Area ------------------------ */
.sortFilterWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  height: 5em;
  display: flex;
  justify-content: space-around;
  color: #3483fa;
}

.sortFilter {
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
  &:hover {
    background-color: yellow;
    cursor: pointer;
  }
  img {
    height: 1em;
    margin-right: 0.5em;
  }
}
.changeView::before {
  content: "";
  width: 1px;
  height: 20px;
  border-right: 1px solid #ddd;
}

/* ------------------------ Products Area ------------------------ */
.productsGrid {
  display: flex;
  padding: 1em;
  background-color: #f3f1f8;
  transition: all 2s linear;
  img {
    display: block;
    max-width: 100%;
  }
}

.block {
  display: block;
  .prodcutsCol1 {
    padding-right: 0;
  }
  .singleProduct {
    display: flex;
    align-items: center;
  }
}

.prodcutsCol1 {
  padding-right: 1em;
}

.singleProduct {
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1em;
}

.productImg {
  cursor: pointer;
}

.productInfo {
  padding: 1em;
  .metal {
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 0.5em;
  }
  .description {
    font-size: 1.4em;
    font-weight: 400;
    text-transform: capitalize;
    padding-bottom: 0.5em;
    &:hover {
      cursor: pointer;
    }
  }
  .sku {
    padding-bottom: 0.5em;
    font-size: 1.2em;
  }
  .promotion {
    font-size: 1.2em;
    color: red;
    .original-price {
      text-decoration: line-through;
    }
    .discount {
      margin-left: 1em;
    }
  }
  .net-price {
    padding-bottom: 0.2em;
    font-size: 2em;
  }
  .free-shipping {
    font-size: 1.2em;
    font-style: italic;
  }
}

/* 
.add-btn {
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  button {
    width: 100%;
    padding: 0.2em;
  }
}

.add-btn button {
  display: inline-block;
  padding: 0.3em 1.2em;
  border-radius: 0.3em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}
.add-btn button:hover {
  background-color: #4095c6;
}
 */
