* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: lato;
  font-size: 12px;
}

.overflow {
  overflow: hidden;
}

.sr-only {
  height: 0.1px;
  width: 0.1px;
  color: transparent;
}

/* ------------------  Header  ------------------ */
header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dcb03f;
  padding: 1em;
  transition: all 0.01s 0.2s ease;
}

.logo {
  display: block;
  height: 3em;
}
.logo img {
  max-height: 100%;
}

.cartimage {
  height: 2.4em;
}
.cartimage img {
  max-height: 100%;
}

.searchbar {
  display: none;
}

/* ------------------  Hamburger Btn  ------------------ */
.hamburgerBtn {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.hamburgerBtn div {
  width: 2em;
  height: 1px;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 5px;
  transition: 0.35s ease-out;
}
.hamburgerBtn div:last-of-type {
  margin-bottom: 0px;
}
.hamburgerBtn:hover div {
  transform: scale(1.1);
  z-index: 1;
}

.transformHamburger div:nth-child(1) {
  transform: translateX(2px) translateX(-2px) translateY(6px) rotate(45deg);
}
.transformHamburger div:nth-child(2) {
  transform: rotate(-45deg);
}
.transformHamburger div:nth-child(3) {
  transform: translateX(2px) translateX(-2px) translateY(-6px) rotate(-45deg);
}

/* ------------------  Menu  ------------------ */
.menu-list {
  padding: 2em;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.95);
  height: 0%;
  width: 100%;
  position: absolute;
  top: -100%;
  overflow: hidden;
  animation: pos1 0.1s linear forwards;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 2em;
  padding-bottom: 1em;
  font-size: 1.3em;
  border-bottom: 1px solid #424245;
}
.menu-list li li:hover,
.menu-list li a:hover {
  filter: brightness(200%);
  color: #0707b1;
  border-bottom: 1px solid #0707b1;
}
.menu-list.open {
  animation: pos 0.2s linear forwards;
}

@keyframes pos {
  0% {
    top: 9%;
  }
  100% {
    top: 9%;
    height: 100%;
  }
}
@keyframes pos1 {
  0% {
    top: 9%;
    height: 100%;
  }
  100% {
    top: 9%;
    visibility: collapse;
  }
}
/* ------------------------ Sort and Filter Area ------------------------ */
.sortFilterWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  height: 5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #0707b1;
}

.sortFilter {
  font-size: 1.4em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  text-align: center;
}
.sortFilter:hover {
  background-color: rgba(141, 172, 56, 0.1);
  cursor: pointer;
}
.sortFilter img {
  height: 1em;
  margin-right: 0.5em;
}

.separators {
  width: 1px;
  height: 20px;
  background-color: #ddd;
}

/* ------------------------ Sort Showing Options ------------------------ */
.sort-hide {
  display: block;
  position: absolute;
  top: -100%;
  width: 100%;
  height: 0%;
  padding: 2em;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.95);
  animation: pos1 0.1s linear forwards;
}
.sort-hide li {
  list-style: none;
  display: block;
  text-decoration: none;
  color: black;
  margin-bottom: 2em;
  padding-bottom: 1em;
  font-size: 1.3em;
  border-bottom: 1px solid #424245;
}
.sort-hide li:hover {
  filter: brightness(200%);
  color: #0707b1;
  border-bottom: 1px solid #0707b1;
}
.sort-hide.open {
  animation: pos 0.2s linear forwards;
}

.backArrow {
  display: flex;
  align-items: center;
  font-size: 2em;
}
.backArrow img {
  margin-right: 0.8em;
}

.sortOptions {
  padding: 2em 0 0 4em;
}

/* ------------------------ Products Area ------------------------ */
.productsGrid {
  display: flex;
  padding: 1em;
  background-color: #f3f1f8;
}
.productsGrid img {
  display: block;
  max-width: 100%;
}

.block {
  display: block;
}
.block .prodcutsCol1 {
  padding-right: 0;
}
.block .singleProduct {
  display: flex;
  align-items: center;
}

.prodcutsCol1 {
  padding-right: 1em;
}

.singleProduct {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 1em;
}

.productImg {
  cursor: pointer;
}

.productInfo {
  padding: 1em;
}
.productInfo .metal {
  font-size: 1.2em;
  font-weight: 700;
  padding-bottom: 0.5em;
}
.productInfo .description {
  font-size: 1.4em;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 0.5em;
}
.productInfo .description:hover {
  cursor: pointer;
}
.productInfo .sku {
  padding-bottom: 0.5em;
  font-size: 1.2em;
}
.productInfo .promotion {
  font-size: 1.2em;
  color: #c80000;
}
.productInfo .promotion .original-price {
  text-decoration: line-through;
}
.productInfo .promotion .discount {
  margin-left: 1em;
}
.productInfo .net-price {
  padding-bottom: 0.2em;
  font-size: 2em;
}
.productInfo .free-shipping {
  font-size: 1.2em;
  font-style: italic;
}

/*# sourceMappingURL=style.css.map */
