body {
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 5%;
  margin-right: 5%;
}

h1 {
  background-color: #1d3557;
  color: white;
  padding: 1em;
}

h2 {
  color: #457b9d;
  padding: .5em;
}

h3 {
  color: #457b9d;
  padding: .5em;
}

h3 span {
  display: inline-block;
  /* This is supposed to work but it doesn't either. It delays to make sure you are really hovering over it before it changes */
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
  /* This is a property that makes it transition smoothly */
  transition-property: transform, color;
  transition-duration: 1s;
  /* This is not working yet */
  transition-timing-function: ease-out;
  /* this is shorthand for the above 3 properties */
  transition: transform 0.2s ease-out 50ms;
}

.hover:hover {
  color: red;
}

.prop:hover {
  font-size: x-small;
}

.testthesewords:hover {
  transform: rotate(-70deg);
}

h3:hover span {
  
  color: #484848;
  transform: translateY(-20px) rotate(25deg);
  font-size: x-large;
}

h4 {
  color: #457b9d;
  padding: .5em;
}

.transitions:hover {
  transition-property: transform;
  transition-duration: 1s;
  /*  */
  -webkit-transition-delay: 50ms;
  transition-delay: 50ms;
  color: #107b7d;
  font-size: xx-large;
}

/* This is not working yet */
#transitiontimingfunc:hover {
  transition-timing-function: ease-in-out;
}

p {
  padding: .5em;
}

#story_editor {
  width: 800px;
  height: 250px;
  background-color: azure;
  padding: .5em;
  margin: 10px;
}

a:link,
a:visited {
  background-color: rgb(29, 53, 87);
  color: white;
}

button {
  padding: 10px;
  margin: 3px 8px;
}

li {
  margin-left: 3.5em;
  display: list-item;
}

form {
  margin: 20px;
}

.myCanvas {
  border: dotted 2px black;
}

#svgbox {
  margin: 0%;
}

.spin {
  position: absolute;
  top: 8px;
  left: 55px;
}

.red {
  background-color: rgb(80, 13, 13);
  color: white;
}